<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CefSharp.Common" version="136.1.40" targetFramework="net472" />
  <package id="CefSharp.WinForms" version="136.1.40" targetFramework="net472" />
  <package id="chromiumembeddedframework.runtime.win-x64" version="136.1.4" targetFramework="net472" />
  <package id="chromiumembeddedframework.runtime.win-x86" version="136.1.4" targetFramework="net472" />
  <package id="EmbedIO" version="3.5.2" targetFramework="net472" />
  <package id="GitVersion.MsBuild" version="5.12.0" targetFramework="net472" developmentDependency="true" />
  <package id="ILRepack.Lib.MSBuild.Task" version="2.0.40" targetFramework="net472" developmentDependency="true" />
  <package id="Siemens.TestAutomation.ServiceLocator" version="2.0.1" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Unosquare.Swan.Lite" version="3.1.0" targetFramework="net472" />
</packages>