<?xml version="1.0" encoding="utf-8" ?>
<!--SPDX-FileCopyrightText: 2023 Siemens AG
SPDX-License-Identifier: MIT-->
<log4net>
  <root>
    <appender-ref ref="ColoredConsoleAppender" /> 
    <appender-ref ref="file" />
  </root>
  <appender name="console" type="log4net.Appender.ConsoleAppender">
    <threshold value="Info" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level %logger - %message%newline" />
    </layout>
  </appender>
  <appender name="ColoredConsoleAppender" type="log4net.Appender.ManagedColoredConsoleAppender">
    <threshold value="Info" />
    <mapping>
      <level value="ALERT" />
      <forecolor value="Yellow" />
    </mapping>
    <mapping>
      <level value="NOTICE" />
      <forecolor value="White" />
    </mapping>
    <mapping>
      <level value="DEBUG" />
      <forecolor value="White" />
    </mapping>
    <mapping>
      <level value="INFO" />
      <forecolor value="Green" />
    </mapping>
    <mapping>
      <level value="WARN" />
      <forecolor value="Yellow" />
    </mapping>
    <mapping>
      <level value="ERROR" />
      <forecolor value="Red" />
    </mapping>
    <layout type="log4net.Layout.PatternLayout">
      <conversionpattern value="%message%newline" />
    </layout>
  </appender>
  <appender name="file" type="log4net.Appender.RollingFileAppender">
    <threshold value="Debug" />
    <file value="production-pipeline.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
    </layout>
  </appender>
</log4net>