<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="tep-testrunner"                          version="8.4.6" />
  <package id="tep-testrunner-plugin-electricalsockets" version="8.3.3" />
  <package id="tep-testrunner-plugin-occ"               version="8.6.4" />
  <package id="tep-testrunner-plugin-pytest"            version="8.1.5" />
  <package id="tep-testrunner-plugin-siprotec5"         version="8.17.0" />
  <package id="tep-testrunner-plugin-unigrid"           version="0.1.3" />
  <package id="tep-testrunner-plugin-vstest"            version="8.1.1" />
  <package id="sip5-cfgtools-sipcc"                     version="10.0.3" />  
  <package id="sip5-dla"                                version="10.0.19" /> 

  <!-- Conditional packages will be installed only, if specified condition is fulfilled on the current machine. -->
  <package id="om-testmodules"                          version="4.40.9-b344160-Adaptions183"  condition="(Get-ItemProperty 'HKLM:\SOFTWARE\OMICRON' -Name 'InstalledOTUVersion' -ErrorAction SilentlyContinue) -and (Get-ItemPropertyValue 'HKLM:\SOFTWARE\OMICRON' -Name 'InstalledOTUVersion').StartsWith('4.3040')" />
  <package id="om-testmodules"                          version="4.31.40"  condition="(Get-ItemProperty 'HKLM:\SOFTWARE\OMICRON' -Name 'InstalledOTUVersion' -ErrorAction SilentlyContinue) -and (Get-ItemPropertyValue 'HKLM:\SOFTWARE\OMICRON' -Name 'InstalledOTUVersion').StartsWith('4.3010')" />
  <package id="cmengine-rest-server"                    version="2.1.0"  condition="(Get-ItemProperty 'HKLM:\SOFTWARE\OMICRON' -Name 'InstalledOTUVersion' -ErrorAction SilentlyContinue) -ne $null" />
  <package id="om-testprograms-en"                      version="1.52.0"  condition="(Get-ItemProperty 'HKLM:\SOFTWARE\OMICRON' -Name 'InstalledOTUVersion' -ErrorAction SilentlyContinue) -and (Get-ItemPropertyValue 'HKLM:\SOFTWARE\OMICRON' -Name 'InstalledOTUVersion').StartsWith('4.3010')" />
  <package id="digsi5-copy-server"                      version="10.0.197" condition="($env:DIGSI5_COPY_AUTO_INSTALL -ieq 'true') -and ((Get-ChildItem 'HKLM:\SOFTWARE\Siemens\Automation\_InstalledSW' -Recurse -ErrorAction SilentlyContinue | Where-Object { $_.pspath.EndsWith('EditionMain') } | Select-Object -first 1 | ForEach-Object { (Get-ItemPropertyValue $_.pspath -Name TechnVersion -ErrorAction SilentlyContinue) }) -like '*20.00.00.00')"/>
  <package id="digsi5-copy-server"                      version="9.90.314" condition="($env:DIGSI5_COPY_AUTO_INSTALL -ieq 'true') -and ((Get-ChildItem 'HKLM:\SOFTWARE\Siemens\Automation\_InstalledSW' -Recurse -ErrorAction SilentlyContinue | Where-Object { $_.pspath.EndsWith('EditionMain') } | Select-Object -first 1 | ForEach-Object { (Get-ItemPropertyValue $_.pspath -Name TechnVersion -ErrorAction SilentlyContinue) }) -like '*18.00.01.00')"/>
</packages>