<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org"
			 value="https://api.nuget.org/v3/index.json" />

		<add key="Artifactory"
			 value="https://siemens.jfrog.io/artifactory/api/nuget/v3/nuget-test" />
	</packageSources>
	<packageSourceCredentials>
		<Artifactory>
			<add key="Username" value="%Username%" />
			<add key="ClearTextPassword" value="%ClearTextPassword%" />
		</Artifactory>
	</packageSourceCredentials>
</configuration>